

<!doctype html> {% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PackTravel - New Ride</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">


		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
			<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
  </head>
  <body style="background-color: #3A3B3C;">
    {% include 'nav.html' %}
    
    <div class="card mx-auto shadow-2-strong bg-white rounded" style="width: 60%; margin: 50px; padding: 50px;">
        <h3>Login</h3>
        <hr >
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
              <label for="dtpickerdemo" class="col-sm-2 control-label">Select date/time:</label>
                  <div class='col-sm-4 input-group date'>
                      <input type='text' class="form-control" id='dtpickerdemo' />
                  </div>
              </div>
              
            <div class="form-group">
                <label for="id_username">Username</label>
                {{form.username}}
            </div>
            <br>
            <div class="form-group">
                <label for="id_password">Password</label>
                {{form.password}}
            </div>
            <br>
            <button type="submit" class="btn btn-dark" >Login</button>
          </form>
          <script type="text/javascript">
            $(function () {
                $('#dtpickerdemo').datetimepicker();
            });
        </script>
</div>
  </body>
</html>