<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Ride Information</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    button:hover {
      border: none;
      /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
      /* background: #D3D3D3; */
    }
    .myDiv {
      border: 5px outset black;
      background-color: white;
      text-align: center;
    }
  </style>

  <body style="background-color: #3a3b3c">
    {% include 'nav.html' %}

    <div
      class="card mx-auto shadow-2-strong bg-white rounded"
      style="width: 60%; margin: 50px; padding: 50px"
    >
      <h3>{{ride.spoint}} to {{ride.destination}}</h3>
      <hr />
      <h5>Type: {{ride.type}}</h5>
      <h5>Date: {{ride.date}}</h5>
      <h5>Starting Time: {{ride.hour}}:{{ride.minute}} {{ride.ampm}}</h5>
      <h5>Availability: {{ride.availability}} out of {{ride.max_size}}</h5>
      <h5>Additional Info:</h5>
      <p>{{ride.details}}</p>

      <div id="maps" style="width: 100%; height: 300px"></div>
      <div id="msg" class="myDiv"></div>

      <script>
        function GMaps() {
          var directionsService = new google.maps.DirectionsService();
          var directionsDisplay = new google.maps.DirectionsRenderer();
          var map = new google.maps.Map(document.getElementById("maps"));
          directionsDisplay.setMap(map);

          var src = "{{ride.spoint}}";
          var dest = "{{ride.destination}}";

          directionsService.route(
            {
              origin: src,
              destination: dest,
              travelMode: "DRIVING",
            },
            function (response, status) {
              if (status === "OK") {
                directionsDisplay.setDirections(response);
                var directionsData = response.routes[0].legs[0];
                if (!directionsData) {
                  window.alert("Directions request failed");
                  return;
                } else {
                  document.getElementById("msg").innerHTML +=
                    " Driving distance : " +
                    directionsData.distance.text +
                    "<br />" +
                    " Drive Duration : " +
                    directionsData.duration.text;
                }
              }
            }
          );
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlTEtvRzc8n19pvk4-h-DpdrbkybY2ePY&callback=GMaps"></script>

      <h5>Owner : {{ride.owner}}</h5>
      <h5>
        <script>
          if ("{{ride.ride_type}}" == "Cab") {
            document.write("Cab fair estimates range(Shared and Luxury):");
          }
        </script>
      </h5>
      <p>
        <script>
          if ("{{ride.ride_type}}" == "Cab") {
            document.write("{{ride.cost}}");
          }
        </script>
      </p>
      
      </form>
    </div>
  </body>
</html>
