.flex-form > * {
	border: 0;
	padding: 10px;
	background: rgb(232, 80, 80);
	line-height: 50px;
	font-size: 20px;
	border-radius: 0;
	outline: 1;
	border-right: 1px solid rgba(0,0,0,0.2);
}

.flex-form > *:last-child {
	border-right: 0;
}


.cover {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100%;
	min-height: 100vh;
}

.flex-form {
	display: flex;
	border: 20px solid rgba(0,0,0,0.3);
	border-radius: 5px;
}